{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="container mt-5 text-center">
        <p class="display-1">Password Reset Page</p>
        <p>
          Forgot your password? Please enter the email address you used to register
          with us and we will send you a link to reset your password
        </p>
      <br/>
      
      <div class="text-center">
        <form action="" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <input type="email" name="email" autocomplete="email" maxlength="254" required="" id="id_email" class="mb-2 p-1">   
          </div>
          <button type="submit" class="btn btn-secondary">Send email</button>
        </form>
        <br/>
        <div>
          <a href="{% url 'home' %}">Return to home page</a>
        </div>
      </div>
    </div>
{% endblock %}